/*body {
  font: 100% $font-stack;
  color: $primary-color;
}*/
/* line 10, ../sass/layout.scss */
.inner .jumbotron {
  padding-top: 78px;
}

/* line 15, ../sass/layout.scss */
#MemberLoginForm_LoginForm_action_dologin {
  margin-left: 4px;
}

/* line 19, ../sass/layout.scss */
.main {
  padding: 80px 60px;
}
