$font-stack:    Orbitron, sans-serif;
$primary-color: #399;

/*body {
  font: 100% $font-stack;
  color: $primary-color;
}*/

.inner {
	.jumbotron {
		padding-top: 78px;
	}
}

#MemberLoginForm_LoginForm_action_dologin {
	margin-left: 4px;
}

.main {
		padding: 80px 60px;		
}